[run]
source = .
branch = True
omit =
    manage.py
    setup.py
    webmention/checks.py
    */tests/*
    */migrations/*
    */admin.py
    */__init__.py

[report]
show_missing = True
skip_covered = True
